#file-upload {
    display: none;
}

.button-upload-template {
    background: #F2643C;
    color: white;
    margin: 0;
    border-radius: 5px;
    text-align: center;
    font-size: 1.7em;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
}

.name_file{
    margin: 10px 0
}

.button-top {
    width: 100%;
}