.p-button-icon-only {
    max-height: 43px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.centerSelection {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pi-info-circle {
    font-size: 20px;
}